.imgContainer {
    background: url(../../assets/images/hero-bg.png) no-repeat right center/cover;
    overflow: hidden;
}

.Animate {
    animation: move 2s ease-in-out 1;
}

@keyframes move {
    0% {
        transform:scaleY(0.6);
        margin-left: 100%;
    }
    40%{
        transform:scaleY(1);
    }
    100% {
        transform:scaleY(1);
        margin-left: 0%;
    }
}